/* Base styles */
body {
    background: rgb(0, 0, 0);
    color: rgb(255, 251, 251);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: white; /* Ensuring all links are white */
    font-weight: bold; /* Making all links bold */
    text-decoration: none;
}

/* Header styles */
header {
    background: black url("images/banner.png") center no-repeat;
    background-size: 100%;
    height: 400px;
    padding: 20px; 
    text-align: center;
}

header a {
    color: rgb(71, 71, 71);
    margin-top: 20px;
    text-transform: uppercase;
}

header .logo a {
    background: url("images/logo.png") no-repeat;
    background-size: 120px;
    display: inline-block;
    height: 120px;
    position: relative;
    text-indent: -9999999px;
    top: -30px;
    width: 120px;
}

/* Section styles */
.me {
    background-color: rgb(16, 16, 16);
    color: white;
    font-size: 16px; /* Suitable font size for readability */
    line-height: 1.6; /* Improve line spacing for better readability */
    margin: auto;
    max-width: 800px; /* Limit the width for better readability */
    padding: 50px; /* Increase padding */
    text-align: center; /* Centering text */
    border: 20px;
    border-color: rgb(64, 64, 64);
    border-radius: 10%;
    top: 20px;
}

.learning{
    text-align: center;
    font-size: 25px;
    background-color: rgb(20, 20, 20);
    padding: 7px;
}

.learn{
    text-align: center;
}

.learn, .features, .features2 {
    background-color: rgb(25, 25, 25);
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.learn figure, .features figure, .features2 figure {
    margin: auto;
    text-align: center;
    font-weight: bold;
}

.learn figure img, .features figure img {
    width: 200px;
    border: solid black 1px;
}

.features figure img, .features2 figure img {
    border-radius: 50%;
    box-shadow: rgb(78, 78, 78) 0 0 20px;
}

.features2 figure, .features2 figure img {
    width: 150px;
    border-radius: 15%;
}

/* List styles */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
}

/* Footer styles */
footer {
    background-color: rgb(21, 21, 21);
    padding: 10px 20px;
    text-align: center;
}

/* Media queries */
@media only screen and (max-width: 514px) {
    header {
        height: 450px;
        font-size: 400px;
    }

    .features, .features2, footer {
        padding: 40px;
    }
}
