{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<section class="about">
    <div class="container">
        <h1 class="animate-pop-in">About Me</h1>
        <div class="about-content animate-fade-in">
            <p>Hello! I'm Hatim Ourahou, a first-year student at UM5 University in Morocco, studying cybersecurity. I'm passionate about technology, particularly in the fields of AI and cybersecurity.</p>
            <p>My goal is to build my own startup in the future, combining my love for innovation with my technical skills. I'm always eager to learn and participate in hackathons and competitions to challenge myself and grow.</p>
            <h2>Skills</h2>
            <ul>
                <li>Python</li>
                <li>HTML & CSS</li>
                <li>JavaScript</li>
                <li>C#</li>
                <li>Cybersecurity fundamentals</li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}
